/* styles.css */

.main {
    border: solid black;
    background-color: rgb(188, 209, 209);
}

.title {
    font-size: 52px;
    text-align: center;
}

.link-list-container .link-list .list-item {
    font-size: 32px;
}

.link-list-container {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    text-align: left;
}

.title-container {
    width: 400px;
    margin: 0 auto;
}

.image-container {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
}

.image {
    width: 400px;
    height: auto;
}

.minor-title-container {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
}

.minor-title {
    text-align: center;
    font-size: 42px;
}

.list-container .ordered-list {
    width: 1000px;
    margin: 0 auto;
    margin-top: 8px;
}

.list-container .list-item {
    font-size: 18px;
}

.list-container .unordered-list {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
}

.smallest-title-container {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
}

.smallest-title {
    text-align: center;
    font-size: 32px;
}

.paragraph-container {
    width: 800px;
    margin: 0 auto;
    margin-top: 8px;
}

.paragraph {
    font-size: 18px;
    text-align: center;
}

.link-container {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.link {
    display: block;
    font-size: 16px;
    text-align: center;
}